.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(152, 14, 14);
  padding: 40px;
  border-bottom: 2px solid black;
}

.header__title {
  padding: 10px 40px;
  margin: 0;
  font-size: 60px;
  color: rgb(237, 230, 230);
  text-wrap: nowrap;
  background-color: black;
  border-radius: 20px;
}

.header__navbar {
  display: flex;
}

.header__navbar-links {
  color: rgb(237, 230, 230);
  list-style: none;
  display: flex;
  gap: 30px;
  cursor: pointer;
  font-size: 28px;
}

/* .header__navbar-link {
} */

.header__navbar-link:hover {
  color: rgb(118, 112, 112);
}
