.home {
  padding: 120px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.home__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__name {
  font-size: 120px;
  margin: 0 0 12px 0;
  font-weight: 400;
  font-family: "NerkoOne";
}

.home__intro {
  font-size: 80px;
  font-family: "Arial";
}

.home__description {
  font-size: 80px;
  margin: 40px 0 50px;
  text-align: center;
}

.home__contact-button {
  justify-content: center;
  padding: 30px;
  font-size: 60px;
  width: fit-content;
  border-radius: 20px;
  color: white;
  background-color: black;
  cursor: pointer;
  margin: 120px auto 0;
}

.home__contact-button:hover {
  background-color: rgb(118, 112, 112);
}

.home__image {
  width: 600px;
  border-radius: 10px 20px 30px 40px;
}
