.home {
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.home__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__intro {
  font-size: 60px;
  font-family: "Arial";
  margin: 0 0 0 30px;
}

.home__name {
  font-size: 90px;
  margin: 0;
  font-weight: 400;
  font-family: "NerkoOne";
  transform: rotate(-5deg);
  text-wrap: nowrap;
}

.home__description {
  font-size: 40px;
  margin: 100px 0;
  text-align: center;
  /* transition: opacity 0.5s ease; */
}

.home__contact-button {
  justify-content: center;
  padding: 30px;
  font-size: 60px;
  width: fit-content;
  border-radius: 20px;
  color: white;
  background-color: black;
  cursor: pointer;
  margin: auto auto 0;
}

.home__contact-button:hover {
  background-color: rgb(118, 112, 112);
}

.home__image {
  width: 400px;
  border-radius: 40px;
}
