.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(152, 14, 14);
  padding: 40px;
  border-bottom: 2px solid black;
}

.header__title {
  padding: 40px 14px;
  margin: 10px;
  font-size: 60px;
  color: rgb(237, 230, 230);
  text-wrap: nowrap;
  background-color: black;
  border-radius: 20px;
}

@media screen and (max-width: 1300px) {
  .header__title {
    font-size: 32px;
  }
}
