.navbar {
  display: flex;
}

.navbar__links {
  color: rgb(237, 230, 230);
  list-style: none;
  display: flex;
  gap: 30px;
  cursor: pointer;
  font-size: 43px;
}

.navbar__link:hover {
  color: rgb(118, 112, 112);
}
