.navbar {
  display: flex;
}

.navbar__links {
  color: rgb(237, 230, 230);
  list-style: none;
  display: flex;
  gap: 30px;
  cursor: pointer;
  font-size: 43px;
}

.navbar__link:hover {
  color: rgb(118, 112, 112);
}

.navbar__link-home {
  color: rgb(237, 230, 230);
  text-decoration: none;
}

.navbar__link-about {
  color: rgb(237, 230, 230);
  text-decoration: none;
}
.navbar__link-skills {
  color: rgb(237, 230, 230);
  text-decoration: none;
}
.navbar__link-projects {
  color: rgb(237, 230, 230);
  text-decoration: none;
}
.navbar__link-contact {
  color: rgb(237, 230, 230);
  text-decoration: none;
}

@media screen and (max-width: 1260px) {
  .navbar__links {
    font-size: 28px;
  }
}
