.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  background-color: rgb(152, 14, 14);
  color: rgb(237, 230, 230);
}

.footer__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 0;
}

.footer__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  color: rgb(237, 230, 230);
}

.footer__social-link:hover {
  color: rgb(118, 112, 112);
}

.footer__social-icon {
  width: 40px;
  height: 40px;
  padding-right: 5px;
}
.footer__list_type_socials {
  margin-bottom: auto;
}

.footer__list_type_navbar {
  flex-direction: column;
  text-align: right;
  background-color: black;
  border-radius: 20px;
  padding-left: 150px;
}

.footer__navbar-link {
  color: rgb(118, 112, 112);
  cursor: pointer;
}

.footer__navbar-link:hover {
  color: rgb(237, 230, 230);
}

.footer__navbar-link_type_home {
  color: rgb(237, 230, 230);
  text-decoration: none;
}

.footer__navbar-link_type_about {
  color: rgb(237, 230, 230);
  text-decoration: none;
}
.footer__navbar-link_type_skills {
  color: rgb(237, 230, 230);
  text-decoration: none;
}
.footer__navbar-link_type_projects {
  color: rgb(237, 230, 230);
  text-decoration: none;
}
.footer__navbar-link_type_contact {
  color: rgb(237, 230, 230);
  text-decoration: none;
}

.footer__copyright {
  font-size: 10px;
  margin: 0;
  color: rgb(118, 112, 112);
}
